<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      Crear Partido Calendar
      {{ ViewTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCart()">
        <ion-badge *ngIf="cart.length > 0"> {{ cart.length }} </ion-badge>
        <ion-icon name="beaker" slot="icon-only"></ion-icon>
        <!-- name="color-wand" name="cog" name="cash" name="cart" name="apps" name="basket" name="bulb" name="construct" name="flask" name="hammer"-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <div *ngFor="let cat of items" class="category-block">

    <ion-row no-padding class="category-banner">
      <ion-col button tappable (click)="cat.expanded = !cat.expanded" class="ion-align-self-center ion-text-left">
        {{cat.category}}
      </ion-col>
    </ion-row>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let product of cat.products">
        <div *ngIf="cat.expanded"> <!--este div hara que se muestre expandido el que tenga el expanded: true en el data service --> -->
          <!-- <ion-card>
            <ion-card-header>
              <ion-card-title>
                 {{ product.price || product.date }}
              </ion-card-title>
              <ion-card-content>
                <ion-button expand="full" (click)="addToCart(product)">Add to Cart</ion-button>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->
  <!-- <ion-item>
    <ion-input type="text" placeholder="Indica la direccion del centro deportivo"></ion-input>
  </ion-item> -->


<!-- CODIGO DEL CALENDARIO -->

<!-- ESTO DEBERIA IR EN EL HEADER -->
<!-- <ion-row no-padding class="category-banner">
  {{ viewTitle}}
  <ion-buttons slot="end">
    <ion-button slot="icon-only" (click)="addEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-row> -->

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    startHour="6"
    endHour="20"
    step="30"
    startingDayWeek="1">
  </calendar>




</ion-content>
