<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear tu Id Social Padel</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" [(ngModel)]="user.email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="user.password" placeholder="Password"></ion-input>
  </ion-item>

  <ion-button size="small" (click)="onRegister()">Continuar Registro</ion-button>
  <hr>Ya tienes un ID? <a size="small" routerLink="/login" style="text-decoration:none">Logeate aqui > </a>

</ion-content>
